<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Online Prophetic School 04-2020</title>
		{{ $sass := resources.Get "styles/main.scss" | toCSS | minify }}
		<link rel="stylesheet" href="{{ $sass.RelPermalink }}" />
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap"
			rel="stylesheet"
        />
        <link rel="icon" type="image/png" sizes="32x32" href="https://images.ctfassets.net/vfgh62eq5a4k/4QYw1gX32VGFfvI9YLUIKa/e18f7492e47117797292f1af82103300/sogmi-logo.png?w=36&h=36&fit=pad">
        <link rel="icon" type="image/png" sizes="16x16" href="https://images.ctfassets.net/vfgh62eq5a4k/4QYw1gX32VGFfvI9YLUIKa/e18f7492e47117797292f1af82103300/sogmi-logo.png?w=16&h=16&fit=pad">
        {{ if not .Site.IsServer }}
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57528936-4"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-57528936-4');
            </script>
        {{ end }}
    </head>
	<body class="has-background-grey-lighter">
        {{ block "main" . }}{{ end }}
        <footer class="footer has-text-centered" style="margin-top: 3rem; border-top: 1px solid #d4d4d4">
            Copyright 2020 Sons of God International
        </footer>
        {{ $js := resources.Get "js/auth.js" | minify }}
        <script src="{{ $js.RelPermalink }}"></script>
	</body>
</html>
