// colors

$black: #000000;
$white: #ffffff;

$dark: #333333;
$text: $dark;

$dark-blue: #1e4d68;
$light-blue: #3898ec;
$highlight: #ffb642;
$highlightb: #ffb6427a;
$red: #e41f2f;

$grey-light: #dedede;
$grey-lighter: #e7e7e7;

$primary: $dark-blue;
$info: $light-blue;
$danger: $red;

// fonts

$family-primary: "Poppins", sans-serif;
