<div id="login-modal" class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <div class="modal-card-body">
            <h2 class="title">Enter Password</h2>
            <form id="login-form">
                <div class="field">
                    <div class="error-message is-hidden" id="error-message">That password in incorrect</div>
                    <div class="control">
                        <input type="password" required class="input" name="password" id="passwordInput" />
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="submit" class="button is-info" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>